backend/processor/src/main/resources/xsd/asn3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HEADER">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ORIGIN"/>
              <xs:element type="xs:string" name="CUSTOMERRETURN"/>
              <xs:element type="xs:int" name="PROTOCOLNUMBER"/>
              <xs:element type="xs:string" name="RECEPTIONDATE"/>
              <xs:element type="xs:string" name="OBSERVATION"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ITEM" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="CODE"/>
              <xs:element type="xs:byte" name="UNITS"/>
              <xs:element type="xs:string" name="CAUSE"/>
              <xs:element type="xs:string" name="BATCH"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>